[user]
	email = guswynn@gmail.com
	name = Gus Wynn
  
[alias]
  s = status
  sh = show
  d = diff
  da = diff --cached
  sl = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
  # up to date forks: https://stefanbauer.me/articles/how-to-keep-your-git-fork-up-to-date
  newup = remote add upstream
  # then
  # git fetch upstream
  # git rebase upstream/<main branch>
  # then push, might need force
  # rename branch: https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx
  # git branch -m master main
  # git push -u origin main

[init]
  defaultBranch = main
